.header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.header_logo {
  display: flex;
}

header {
  padding: 0px 0px;
  transition: all 300ms ease-in;
}

.header_toolbar {
  background-color: lightblue;
  justify-content: space-between;
}
