.container img {
  width: 100%; /*or 70%, or what you want*/
  height: auto; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0px;
  background-color: lightblue;
}
